body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score {
    font-size: 30px;
}

.board {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    width: 411px;
}

.field {
    height: 100px;
    width: 100px;
    border: 1px solid green;
}

.field_active {
    background-image: url('../img/goblin.png');
    background-size: contain;
}